
<ul id="slide-out" class="sidenav">
    <h4  class="center-align">Menu</h4>
    <li><a href="cadastroClienteJSP.jsp"><i class="material-icons">face</i><f:message key="cadastrar_cliente"/></a></li>
    <li><a href="cadastroLocadoraJSP.jsp"><i class="material-icons">home</i><f:message key="cadastrar_locadora"/></a></li>
    <li><a href="#!"><i class="material-icons">directions_bike</i><f:message key="cadastrar_locacao"/></a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a href="getServlet"><i class="material-icons">list</i><f:message key="listar_locadoras"/></a></li>
    <li><a href="getClienteServlet"><i class="material-icons">list</i><f:message key="listar_clientes"/></a></li>
</ul>
        
