
<ul id="slide-out" class="sidenav">
    <h4  class="center-align">Menu de Administrador</h4>
    <li><a href="cadastroClienteJSP.jsp"><i class="material-icons">face</i><f:message key="cadastrar_cliente"/></a></li>
    <li><a href="cadastroLocadoraJSP.jsp"><i class="material-icons">home</i><f:message key="cadastrar_locadora"/></a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Listagem</a></li>
    <li><a href="listarLocadoras"><i class="material-icons">list</i><f:message key="listar_locadoras"/></a></li>
    <li><a href="listarClientes"><i class="material-icons">list</i><f:message key="listar_clientes"/></a></li>
</ul>
        
